.background {
    width: 100%;
    background-color: #003770;
    padding: 150px 0;
}

.p {
    color: white;
    text-align: center;
}

.p + .p {
    margin-top: 1.5em;
}

.sheet {
    position: absolute;
    right: 15%;
}