.section {
    background-color: #003770;
    padding: 20vh 0;
}

.p {
    text-align: center;
    font-weight: var(--f-medium);
    color: var(--white);
}

.p + .p {
    margin-top: 1.5em;
}

.sheet {
    position: absolute;
    right: 15%;
}

@media screen and (min-width: 600px) {
    .p {
        font-size: var(--f-s);
    } 
}

@media screen and (min-width: 900px) {

    .p {
        font-size: 20px;
    }

    .section {
        transform: translateY(200px);
        transition: all 1s ease;
    }

    .sheet {
        position: absolute;
        right: 15%;
        width: 180px;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .txt {
        width: 55%;
    }

    .p + .p {
        margin-top: 1em;
    }

}