.background {
    width: 100%;
    background-color: #003770;
    padding: 200px 0;
}

.p {
    color: white;
    text-align: center;
}

.p + .p {
    margin-top: 1.5em;
}

.sheet {
    position: absolute;
    right: 15%;
}

@media screen and (min-width: 600px) {
    .background {
        padding: 250px 0;
    }

    .p {
        font-size: var(--f-s);
    } 
}

@media screen and (min-width: 900px) {

    .p {
        line-height: 1.75;
    }

    .background {
        padding: 250px 0;
    }

    .sheet {
        position: absolute;
        right: 15%;
        width: 180px;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .txt {
        width: 55%;
    }

    .p + .p {
        margin-top: 1em;
    }

}