.bg {
    padding-top: 20px;
    flex-direction: column;
    position: relative;
}

.resultaat {
    color: #E2E0E0;
    position: absolute;
    left: 8%;
    top: 0;
    font-size: 30px;
    font-weight: var(--f-semi-bold);
}

.p {
    position: relative;
    z-index: 1;
}

.p + .p {
    margin: 1.5em 0 200px 0;
}

@media screen and (min-width: 600px) {
    .bg {
        padding-top: 35px;
    }

    .resultaat {
        font-size: var(--f-xl);
        transform: translatex(-40px);
    }

    .p {
        font-size: var(--f-s);
    }

    .p + .p {
        margin: 1.5em 0 300px 0;
    }
}

@media screen and (min-width: 900px) {
    .bg {
        padding-top: 50px;
    }

    .p {
        line-height: 1.75;
    }

    .p + .p {
        margin: 1.5em 0 400px 0;
    }

    .resultaat {
        transform: translate(-60px, 20px);
    }
}

@media screen and (min-width: 1200px) {

    .p + .p {
        margin: 0 0 300px 0;
    }

    /* .resultaat {
        left: 10%;
    } */
}

@media screen and (min-width: 1200px) {

    .p + .p {
        margin: 0 0 300px 0;
    }

    .resultaat {
        left: 20%;
    }
}