.section {
    padding: 20vh 0;
    position: relative;
}

.resultaat {
    color: #E2E0E0;
    position: absolute;
    left: 8%;
    top: 0;
    font-size: 30px;
    font-weight: var(--f-semi-bold);
}

.p {
    font-weight: var(--f-medium);
    color: var(--dark);
    position: relative;
    z-index: 1;
    max-width: 600px;
}

.p + .p {
    margin: 1.5em 0 200px 0;
}

@media screen and (min-width: 600px) {
    .section {
        padding-top: 35px;
    }

    .resultaat {
        font-size: var(--f-xl);
        transform: translatex(-40px);
    }

    .p {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    .section {
        padding-top: 50px;
    }

    .p {
        line-height: 1.75;
    }

    .resultaat {
        transform: translate(-60px, 20px);
    }
}

@media screen and (min-width: 1200px) {

    .resultaat {
        left: 20%;
    }
}