.section {
    position: relative;
}

.img-cover,
.vid-cover {
    position: relative;
    border-radius: 0;
    margin: 0 -40px;
    overflow: hidden;
    border-bottom: 2px solid #003770;
}

.vid-cover {
    padding-bottom: 36vh;
}

.img-cover > img,
.vid-cover > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    float: left;
}

.vid-cover > video {
    position: absolute;
}

.Quote__container {
    z-index: 1;
}

.QuoteDiv {
    padding: 20vh 0;
}

.p {
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
    font-weight: var(--f-medium);
    color: var(--dark);
}

.lockKey {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 90%;
    height: auto;
}

.imgDiv {
    margin: 100px 0;
}

@media screen and (min-width: 600px) {

    .vid-cover {
        padding-bottom: 50vh;
    }

    .p {
        font-size: 20px;
    }

    .imgDiv {
        margin: 150px 0;
    }
}

@media screen and (min-width: 900px) {

    .section {
        padding: 15vh 0;
    }

    .img-cover {
        border-radius: 20px;
        border: 5px solid #003770;
        margin: 0;
    }

    .vid-cover {
        border-radius: 20px;
        border: 5px solid #003770;
        margin: 0;
        padding-bottom: 60vh;
    }

    .p {
        line-height: 1.75;
    }

    .imgDiv {
        margin: 250px 0;
    }

}

@media screen and (min-width: 1200px) {
    .imgDiv {
        margin: 300px 0;
    }
}