.about {
    position: relative;
    height: var(--container-height);
}

.about--intro-contianer {
    width: 100%;
    display: block;
}

.about--intro {
    position: relative;
    z-index: 1;

    width: 100%;
    margin: 0 auto;

    font-weight: 600;
}

.text--wrapper,
.about--title__line {
    transition: all .4s cubic-bezier(0.49, 0.13, 0, 1);
}

.text--wrapper {
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    display: block;
}

.text--wrapper:nth-child(1),
.text--wrapper:nth-child(3) {
    transition-delay: .8s;
}

.in-view > .text--wrapper {
    width: 100%;
    transition-delay: 0s;
}

.about--title__line {
    display: block;
}

.text--wrapper:nth-child(2) > .about--title__line {
    text-align: center;
}

.text--wrapper:nth-child(3) > .about--title__line {
    text-align: right;
}

.in-view .about--title__line:not(.hide) {
    transition-delay: .4s;
}

.about--media,
.animation {
    position: absolute;
    z-index: 0;
    transform-origin: center;
    will-change: transform;
    transition: all .4s cubic-bezier(0.78, -0.18, 0, 1.38);
}

.gif {
    position: absolute;
    z-index: 0;
}

.about--media > .img {
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
}

.about--media > .img > img {
    object-fit: cover;
}

.mank {
    object-position: left bottom;
}

.doavid {
    object-position: top;
}

.about--media > .img,
.about--media > .img > img {
    width: 100%;
    height: 100%;
}

.about--media > .img.top,
.about--media.swap > .img.bottom {
    z-index: 1;
}

.about--media.swap > .img.top,
.about--media > .img.bottom {
    z-index: 0;
}

.path__one {
    -webkit-animation: pathSwap;
    animation: pathSwap;
}

.path__two {
    -webkit-animation: pathTopSwap;
    animation: pathTopSwap;
}

.path__one,
.path__two {
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pathSwap {
    from {-webkit-d: path("M23.72,758.36c11.1-44.4,38-82.6,68-116.37,32-36,68.32-68.14,98.24-106q2.66-3.36,5.22-6.76c.21-.28,1.49-2.12,1.58-2.11a14.17,14.17,0,0,1,.37,2c.29,1.54.59,3.08.9,4.61q1.84,9.24,4,18.4,4.32,18.31,9.88,36.32,5.46,17.65,12.1,34.92,3.39,8.79,7.06,17.45c1.14,2.68,2.3,5.36,3.48,8s2.13,6.26,3.89,8.57c.87,1.13-.09,1.78,1.11,0a12.51,12.51,0,0,0,.8-1.79l1.88-4.19q1.89-4.18,3.77-8.38,3.78-8.37,7.57-16.74,7.47-16.46,15-32.85,15.33-33.09,31.45-65.81c21.44-43.26,44.3-85.86,69.67-127C394.76,360.05,422,320,453.52,284a249.5,249.5,0,0,1,24.91-25c4.3-3.68,8.76-7.18,13.4-10.43a20.36,20.36,0,0,1,3.65-2.47c1.27-.5.41-.87,1.22,0,.49.54.47,2.06.64,2.81l2.22,9.81,17.67,77.85L526,375.15c.67,3,1.06,6.25,2.07,9.11.77,2.2.11,1.35.74.29a12.25,12.25,0,0,0,.64-1.69c.56-1.49,1.14-3,1.72-4.47q2.93-7.54,6-15,12.69-30.75,28.06-60.3A767.13,767.13,0,0,1,725.63,93.11q11.89-11,24.27-21.41c.76-.65.07-6.44.07-7.5,0-1.77,0-3.54,0-5.31a9.63,9.63,0,0,1-.05-2.19,765.15,765.15,0,0,0-169.15,203q-16.57,28.84-30.6,59.06-6.95,15-13.22,30.2-3.2,7.75-6.22,15.58c-.43,1.12-.86,2.24-1.28,3.36a13.68,13.68,0,0,1-.64,1.69c-1,1.78-.27.87-.74-.29-1.22-3-1.52-6.67-2.23-9.81Q517,320.52,508.16,281.6L499.41,243l-2.23-9.82a7.41,7.41,0,0,0-.48-2.1c-.85-.93.08-.44-1.22,0s-2.92,2-4.16,2.83a173.06,173.06,0,0,0-13.84,10.9c-17.6,15.31-32.36,33.61-46.59,52q-22.22,28.71-42.19,59.08c-26.6,40.24-50.48,82.24-72.65,125.08-22.35,43.17-43,87.21-63.06,131.48q-3.66,8.07-7.3,16.15-1.89,4.18-3.77,8.38l-1.61,3.59c-.28.64-.53,2-1.07,2.39-.18.8-.36.8-.55,0l-.57-1.22q-7.77-16.77-14.39-34a549.23,549.23,0,0,1-21.89-71.28q-2.15-9.17-4-18.4c-.26-1.31-.52-2.63-.77-3.95l-.12-.67c.06-1.45-.16-1.72-.65-.79-.36.17-.93,1.25-1.18,1.58q-2.76,3.67-5.62,7.27c-7.61,9.61-15.65,18.87-23.92,27.91-16.28,17.81-33.44,34.78-50.18,52.14C83.65,634.45,52.66,669.77,34.3,712.22a201.06,201.06,0,0,0-10.58,31.14c-.56,2.23-.08,5.21-.08,7.5s.63,5.3.08,7.5Z")}
    0% {-webkit-d: path("M23.72,758.36c11.1-44.4,38-82.6,68-116.37,32-36,68.32-68.14,98.24-106q2.66-3.36,5.22-6.76c.21-.28,1.49-2.12,1.58-2.11a14.17,14.17,0,0,1,.37,2c.29,1.54.59,3.08.9,4.61q1.84,9.24,4,18.4,4.32,18.31,9.88,36.32,5.46,17.65,12.1,34.92,3.39,8.79,7.06,17.45c1.14,2.68,2.3,5.36,3.48,8s2.13,6.26,3.89,8.57c.87,1.13-.09,1.78,1.11,0a12.51,12.51,0,0,0,.8-1.79l1.88-4.19q1.89-4.18,3.77-8.38,3.78-8.37,7.57-16.74,7.47-16.46,15-32.85,15.33-33.09,31.45-65.81c21.44-43.26,44.3-85.86,69.67-127C394.76,360.05,422,320,453.52,284a249.5,249.5,0,0,1,24.91-25c4.3-3.68,8.76-7.18,13.4-10.43a20.36,20.36,0,0,1,3.65-2.47c1.27-.5.41-.87,1.22,0,.49.54.47,2.06.64,2.81l2.22,9.81,17.67,77.85L526,375.15c.67,3,1.06,6.25,2.07,9.11.77,2.2.11,1.35.74.29a12.25,12.25,0,0,0,.64-1.69c.56-1.49,1.14-3,1.72-4.47q2.93-7.54,6-15,12.69-30.75,28.06-60.3A767.13,767.13,0,0,1,725.63,93.11q11.89-11,24.27-21.41c.76-.65.07-6.44.07-7.5,0-1.77,0-3.54,0-5.31a9.63,9.63,0,0,1-.05-2.19,765.15,765.15,0,0,0-169.15,203q-16.57,28.84-30.6,59.06-6.95,15-13.22,30.2-3.2,7.75-6.22,15.58c-.43,1.12-.86,2.24-1.28,3.36a13.68,13.68,0,0,1-.64,1.69c-1,1.78-.27.87-.74-.29-1.22-3-1.52-6.67-2.23-9.81Q517,320.52,508.16,281.6L499.41,243l-2.23-9.82a7.41,7.41,0,0,0-.48-2.1c-.85-.93.08-.44-1.22,0s-2.92,2-4.16,2.83a173.06,173.06,0,0,0-13.84,10.9c-17.6,15.31-32.36,33.61-46.59,52q-22.22,28.71-42.19,59.08c-26.6,40.24-50.48,82.24-72.65,125.08-22.35,43.17-43,87.21-63.06,131.48q-3.66,8.07-7.3,16.15-1.89,4.18-3.77,8.38l-1.61,3.59c-.28.64-.53,2-1.07,2.39-.18.8-.36.8-.55,0l-.57-1.22q-7.77-16.77-14.39-34a549.23,549.23,0,0,1-21.89-71.28q-2.15-9.17-4-18.4c-.26-1.31-.52-2.63-.77-3.95l-.12-.67c.06-1.45-.16-1.72-.65-.79-.36.17-.93,1.25-1.18,1.58q-2.76,3.67-5.62,7.27c-7.61,9.61-15.65,18.87-23.92,27.91-16.28,17.81-33.44,34.78-50.18,52.14C83.65,634.45,52.66,669.77,34.3,712.22a201.06,201.06,0,0,0-10.58,31.14c-.56,2.23-.08,5.21-.08,7.5s.63,5.3.08,7.5Z")}
    50% {-webkit-d: path("M23.72,758.36a733.57,733.57,0,0,0,98.1-96.22,730.13,730.13,0,0,0,80.07-116q3.41-6.13,6.71-12.34c1.07-2,1-.58,1.49,1,.46,1.37.92,2.74,1.37,4.11q1.38,4.2,2.71,8.4,5.61,17.86,10.22,36a665.5,665.5,0,0,1,14.25,72.84c0-.18.38,2.38.33,2.41a10.79,10.79,0,0,0,.18-2.05c.15-1.58.3-3.16.46-4.74q.46-4.63,1-9.27,1-8.91,2.44-17.76c1.7-10.9,3.8-21.75,6.37-32.48A328.44,328.44,0,0,1,266.85,539c11-25.73,26-49.82,45.4-70.14,22.71-23.87,50.52-42.2,73.21-66.16a231,231,0,0,0,58.37-112.86q.63-3,1.17-6.09c.08-.47.09-2.09.42-2.41.56-.56,1,.52,1.58,1.16l2,2.07L463.19,299q14.18,14.52,28.34,29l27.82,28.52,14.17,14.52c2.18,2.22,4.5,5.5,7.08,7.25,1.18.81.31,1,1.42.44.4-.21,1-1.42,1.22-1.8l3.26-4.81,90.71-134,90.72-134,22-32.45c.87-1.29.07-6,.07-7.5,0-1.77,0-3.54,0-5.31,0-.43-.26-1.88-.05-2.19l-90.72,134-90.72,134-22.37,33.05L543.24,362c-.26.38-.82,1.59-1.22,1.8l-.4.6-1.52-1.55L533,355.59l-14.16-14.52-56.16-57.55L448.52,269c-.8-.82-2.64-3.18-3.1-2.72s-.41,2.37-.49,2.83q-.56,3.08-1.19,6.13a241,241,0,0,1-8.17,29.86,225.46,225.46,0,0,1-31.71,60.67c-11.27,15.23-24.53,28.8-38.67,41.36-12.64,11.21-26,21.62-38.59,32.86A229.73,229.73,0,0,0,277,502.81C259.1,536.14,248.74,573.12,243,610.38q-1.38,8.86-2.42,17.79-.49,4.3-.93,8.62c-.16,1.58-.31,3.16-.46,4.74,0,.14-.23,2-.18,2.05a25.29,25.29,0,0,1-.41-3q-2.49-17.82-5.92-35.47A668.06,668.06,0,0,0,214,531.73c-.83-2.61-1.66-5.21-2.52-7.8-.45-1.37-.91-2.74-1.37-4.11-.1-.29-.73-2.32-.78-2.32a9.64,9.64,0,0,0-.95,1.79q-3.44,6.45-7,12.82-7.53,13.49-15.62,26.63-18.65,30.33-40.18,58.73A731.08,731.08,0,0,1,46,724.54q-10.95,9.63-22.28,18.82c-.75.62-.08,6.47-.08,7.5q0,2.65,0,5.31a10.24,10.24,0,0,1,0,2.19Z");}
    100% {-webkit-d: path("M23.72,758.36A1369.71,1369.71,0,0,1,146.56,614q16.26-16.63,33.1-32.7,8-7.68,16.22-15.23c.71-.66,7.24-7.39,7.78-7.13s1,4.11,1.19,4.71q.78,3,1.59,6,6.24,23.05,14.47,45.51,4.13,11.26,8.75,22.35,2.13,5.12,4.37,10.19,1,2.32,2.08,4.65c.52,1.14,1.54,4.9,2.6,5.67l.26.56c.65-.72,1.29-1.44,1.94-2.15l1.92-2.15,3.79-4.28q4.17-4.74,8.28-9.54,7.93-9.26,15.61-18.71,13.83-17,26.82-34.69,21.68-29.52,40.8-60.81c26-42.68,46.26-88.33,70.45-132,27.72-50,62.1-96.32,101.21-138q5-5.31,10.07-10.52v-15l-38,161.4c-.53,2.26-.08,5.19-.08,7.5q0,2.66,0,5.31c0,.39.25,1.94.05,2.19L586.46,276.22,691,145.35,749.9,71.7c.86-1.08.07-6.11.07-7.5,0-1.77,0-3.54,0-5.31,0-.39-.25-1.94-.05-2.19L645.32,187.57,540.73,318.44l-58.85,73.65v15l38-161.4c.53-2.26.07-5.19.07-7.5,0-1.77,0-3.54,0-5.31a8.59,8.59,0,0,1,0-2.19c-38.75,39.73-73.3,83.87-101.59,131.65-26.17,44.19-46.44,91.54-72.36,135.88a873.6,873.6,0,0,1-91,127.24q-4.11,4.8-8.28,9.54l-3.79,4.28-1.92,2.15c-.49.53-1,1.07-1.45,1.61-.5.88-.84.69-1-.58-1.89-2.26-3-6.45-4.16-9.17q-2.5-5.67-4.89-11.39-9.27-22.33-16.56-45.42-3.43-10.85-6.4-21.83c-.49-1.8-1-3.6-1.43-5.4-.25-.94-.55-4-1.21-4.73l-.14-.58-1.83,1.66L200,547.27l-4.58,4.22q-16.6,15.36-32.69,31.25A1365.45,1365.45,0,0,0,36.63,726.15q-6.53,8.55-12.91,17.21c-.87,1.18-.08,6-.08,7.5q0,2.65,0,5.31c0,.41.26,1.91,0,2.19Z");}
    to {-webkit-d: path("M23.72,758.36A1369.71,1369.71,0,0,1,146.56,614q16.26-16.63,33.1-32.7,8-7.68,16.22-15.23c.71-.66,7.24-7.39,7.78-7.13s1,4.11,1.19,4.71q.78,3,1.59,6,6.24,23.05,14.47,45.51,4.13,11.26,8.75,22.35,2.13,5.12,4.37,10.19,1,2.32,2.08,4.65c.52,1.14,1.54,4.9,2.6,5.67l.26.56c.65-.72,1.29-1.44,1.94-2.15l1.92-2.15,3.79-4.28q4.17-4.74,8.28-9.54,7.93-9.26,15.61-18.71,13.83-17,26.82-34.69,21.68-29.52,40.8-60.81c26-42.68,46.26-88.33,70.45-132,27.72-50,62.1-96.32,101.21-138q5-5.31,10.07-10.52v-15l-38,161.4c-.53,2.26-.08,5.19-.08,7.5q0,2.66,0,5.31c0,.39.25,1.94.05,2.19L586.46,276.22,691,145.35,749.9,71.7c.86-1.08.07-6.11.07-7.5,0-1.77,0-3.54,0-5.31,0-.39-.25-1.94-.05-2.19L645.32,187.57,540.73,318.44l-58.85,73.65v15l38-161.4c.53-2.26.07-5.19.07-7.5,0-1.77,0-3.54,0-5.31a8.59,8.59,0,0,1,0-2.19c-38.75,39.73-73.3,83.87-101.59,131.65-26.17,44.19-46.44,91.54-72.36,135.88a873.6,873.6,0,0,1-91,127.24q-4.11,4.8-8.28,9.54l-3.79,4.28-1.92,2.15c-.49.53-1,1.07-1.45,1.61-.5.88-.84.69-1-.58-1.89-2.26-3-6.45-4.16-9.17q-2.5-5.67-4.89-11.39-9.27-22.33-16.56-45.42-3.43-10.85-6.4-21.83c-.49-1.8-1-3.6-1.43-5.4-.25-.94-.55-4-1.21-4.73l-.14-.58-1.83,1.66L200,547.27l-4.58,4.22q-16.6,15.36-32.69,31.25A1365.45,1365.45,0,0,0,36.63,726.15q-6.53,8.55-12.91,17.21c-.87,1.18-.08,6-.08,7.5q0,2.65,0,5.31c0,.41.26,1.91,0,2.19Z");}
}

@keyframes pathSwap {
    0% {d: path("M23.72,758.36c11.1-44.4,38-82.6,68-116.37,32-36,68.32-68.14,98.24-106q2.66-3.36,5.22-6.76c.21-.28,1.49-2.12,1.58-2.11a14.17,14.17,0,0,1,.37,2c.29,1.54.59,3.08.9,4.61q1.84,9.24,4,18.4,4.32,18.31,9.88,36.32,5.46,17.65,12.1,34.92,3.39,8.79,7.06,17.45c1.14,2.68,2.3,5.36,3.48,8s2.13,6.26,3.89,8.57c.87,1.13-.09,1.78,1.11,0a12.51,12.51,0,0,0,.8-1.79l1.88-4.19q1.89-4.18,3.77-8.38,3.78-8.37,7.57-16.74,7.47-16.46,15-32.85,15.33-33.09,31.45-65.81c21.44-43.26,44.3-85.86,69.67-127C394.76,360.05,422,320,453.52,284a249.5,249.5,0,0,1,24.91-25c4.3-3.68,8.76-7.18,13.4-10.43a20.36,20.36,0,0,1,3.65-2.47c1.27-.5.41-.87,1.22,0,.49.54.47,2.06.64,2.81l2.22,9.81,17.67,77.85L526,375.15c.67,3,1.06,6.25,2.07,9.11.77,2.2.11,1.35.74.29a12.25,12.25,0,0,0,.64-1.69c.56-1.49,1.14-3,1.72-4.47q2.93-7.54,6-15,12.69-30.75,28.06-60.3A767.13,767.13,0,0,1,725.63,93.11q11.89-11,24.27-21.41c.76-.65.07-6.44.07-7.5,0-1.77,0-3.54,0-5.31a9.63,9.63,0,0,1-.05-2.19,765.15,765.15,0,0,0-169.15,203q-16.57,28.84-30.6,59.06-6.95,15-13.22,30.2-3.2,7.75-6.22,15.58c-.43,1.12-.86,2.24-1.28,3.36a13.68,13.68,0,0,1-.64,1.69c-1,1.78-.27.87-.74-.29-1.22-3-1.52-6.67-2.23-9.81Q517,320.52,508.16,281.6L499.41,243l-2.23-9.82a7.41,7.41,0,0,0-.48-2.1c-.85-.93.08-.44-1.22,0s-2.92,2-4.16,2.83a173.06,173.06,0,0,0-13.84,10.9c-17.6,15.31-32.36,33.61-46.59,52q-22.22,28.71-42.19,59.08c-26.6,40.24-50.48,82.24-72.65,125.08-22.35,43.17-43,87.21-63.06,131.48q-3.66,8.07-7.3,16.15-1.89,4.18-3.77,8.38l-1.61,3.59c-.28.64-.53,2-1.07,2.39-.18.8-.36.8-.55,0l-.57-1.22q-7.77-16.77-14.39-34a549.23,549.23,0,0,1-21.89-71.28q-2.15-9.17-4-18.4c-.26-1.31-.52-2.63-.77-3.95l-.12-.67c.06-1.45-.16-1.72-.65-.79-.36.17-.93,1.25-1.18,1.58q-2.76,3.67-5.62,7.27c-7.61,9.61-15.65,18.87-23.92,27.91-16.28,17.81-33.44,34.78-50.18,52.14C83.65,634.45,52.66,669.77,34.3,712.22a201.06,201.06,0,0,0-10.58,31.14c-.56,2.23-.08,5.21-.08,7.5s.63,5.3.08,7.5Z")}
    50% {d: path("M23.72,758.36a733.57,733.57,0,0,0,98.1-96.22,730.13,730.13,0,0,0,80.07-116q3.41-6.13,6.71-12.34c1.07-2,1-.58,1.49,1,.46,1.37.92,2.74,1.37,4.11q1.38,4.2,2.71,8.4,5.61,17.86,10.22,36a665.5,665.5,0,0,1,14.25,72.84c0-.18.38,2.38.33,2.41a10.79,10.79,0,0,0,.18-2.05c.15-1.58.3-3.16.46-4.74q.46-4.63,1-9.27,1-8.91,2.44-17.76c1.7-10.9,3.8-21.75,6.37-32.48A328.44,328.44,0,0,1,266.85,539c11-25.73,26-49.82,45.4-70.14,22.71-23.87,50.52-42.2,73.21-66.16a231,231,0,0,0,58.37-112.86q.63-3,1.17-6.09c.08-.47.09-2.09.42-2.41.56-.56,1,.52,1.58,1.16l2,2.07L463.19,299q14.18,14.52,28.34,29l27.82,28.52,14.17,14.52c2.18,2.22,4.5,5.5,7.08,7.25,1.18.81.31,1,1.42.44.4-.21,1-1.42,1.22-1.8l3.26-4.81,90.71-134,90.72-134,22-32.45c.87-1.29.07-6,.07-7.5,0-1.77,0-3.54,0-5.31,0-.43-.26-1.88-.05-2.19l-90.72,134-90.72,134-22.37,33.05L543.24,362c-.26.38-.82,1.59-1.22,1.8l-.4.6-1.52-1.55L533,355.59l-14.16-14.52-56.16-57.55L448.52,269c-.8-.82-2.64-3.18-3.1-2.72s-.41,2.37-.49,2.83q-.56,3.08-1.19,6.13a241,241,0,0,1-8.17,29.86,225.46,225.46,0,0,1-31.71,60.67c-11.27,15.23-24.53,28.8-38.67,41.36-12.64,11.21-26,21.62-38.59,32.86A229.73,229.73,0,0,0,277,502.81C259.1,536.14,248.74,573.12,243,610.38q-1.38,8.86-2.42,17.79-.49,4.3-.93,8.62c-.16,1.58-.31,3.16-.46,4.74,0,.14-.23,2-.18,2.05a25.29,25.29,0,0,1-.41-3q-2.49-17.82-5.92-35.47A668.06,668.06,0,0,0,214,531.73c-.83-2.61-1.66-5.21-2.52-7.8-.45-1.37-.91-2.74-1.37-4.11-.1-.29-.73-2.32-.78-2.32a9.64,9.64,0,0,0-.95,1.79q-3.44,6.45-7,12.82-7.53,13.49-15.62,26.63-18.65,30.33-40.18,58.73A731.08,731.08,0,0,1,46,724.54q-10.95,9.63-22.28,18.82c-.75.62-.08,6.47-.08,7.5q0,2.65,0,5.31a10.24,10.24,0,0,1,0,2.19Z");}
    100% {d: path("M23.72,758.36A1369.71,1369.71,0,0,1,146.56,614q16.26-16.63,33.1-32.7,8-7.68,16.22-15.23c.71-.66,7.24-7.39,7.78-7.13s1,4.11,1.19,4.71q.78,3,1.59,6,6.24,23.05,14.47,45.51,4.13,11.26,8.75,22.35,2.13,5.12,4.37,10.19,1,2.32,2.08,4.65c.52,1.14,1.54,4.9,2.6,5.67l.26.56c.65-.72,1.29-1.44,1.94-2.15l1.92-2.15,3.79-4.28q4.17-4.74,8.28-9.54,7.93-9.26,15.61-18.71,13.83-17,26.82-34.69,21.68-29.52,40.8-60.81c26-42.68,46.26-88.33,70.45-132,27.72-50,62.1-96.32,101.21-138q5-5.31,10.07-10.52v-15l-38,161.4c-.53,2.26-.08,5.19-.08,7.5q0,2.66,0,5.31c0,.39.25,1.94.05,2.19L586.46,276.22,691,145.35,749.9,71.7c.86-1.08.07-6.11.07-7.5,0-1.77,0-3.54,0-5.31,0-.39-.25-1.94-.05-2.19L645.32,187.57,540.73,318.44l-58.85,73.65v15l38-161.4c.53-2.26.07-5.19.07-7.5,0-1.77,0-3.54,0-5.31a8.59,8.59,0,0,1,0-2.19c-38.75,39.73-73.3,83.87-101.59,131.65-26.17,44.19-46.44,91.54-72.36,135.88a873.6,873.6,0,0,1-91,127.24q-4.11,4.8-8.28,9.54l-3.79,4.28-1.92,2.15c-.49.53-1,1.07-1.45,1.61-.5.88-.84.69-1-.58-1.89-2.26-3-6.45-4.16-9.17q-2.5-5.67-4.89-11.39-9.27-22.33-16.56-45.42-3.43-10.85-6.4-21.83c-.49-1.8-1-3.6-1.43-5.4-.25-.94-.55-4-1.21-4.73l-.14-.58-1.83,1.66L200,547.27l-4.58,4.22q-16.6,15.36-32.69,31.25A1365.45,1365.45,0,0,0,36.63,726.15q-6.53,8.55-12.91,17.21c-.87,1.18-.08,6-.08,7.5q0,2.65,0,5.31c0,.41.26,1.91,0,2.19Z");}
}

@-webkit-keyframes pathTopSwap {
    0% {-webkit-d: path("M595,97.51c18.39-6.11,36.8-12.18,55.47-17.4A413,413,0,0,1,707,68a268.5,268.5,0,0,1,28.74-2.36q7.23-.19,14.46,0c1.11,0,2.22.08,3.33.14a2.74,2.74,0,0,1,.95,0h.23c.06.24.11.48.16.72.14.65.29,1.29.43,1.94.54,2.49,1.09,5,1.62,7.49q6.33,29.35,12,58.87t10.57,59.14q.62,3.64,1.21,7.31a14.38,14.38,0,0,1,0-2.19c0-1.77,0-3.54,0-5.31s0-3.53,0-5.3a16.16,16.16,0,0,0,0-2.2q-4.86-29.64-10.4-59.17t-11.79-58.9q-1.57-7.38-3.18-14.74c-.13-.57-.25-1.13-.37-1.69a5.76,5.76,0,0,0-.22-1,4,4,0,0,0-.95,0c-1.26-.07-2.53-.12-3.8-.16q-3.55-.12-7.11-.13A256.59,256.59,0,0,0,714,52.14a381.75,381.75,0,0,0-56.64,11.07c-18.74,5-37.2,11-55.6,17.05L595,82.51a17.25,17.25,0,0,0-.05,2.2c0,1.76,0,3.53,0,5.3s0,3.54,0,5.3c0,.23.11,2.18.05,2.2Z")}
    50% {-webkit-d: path("MM603.33,113.55q30-6.55,59.53-15.19,30.76-9,60.83-20.23,15.6-5.82,31-12.24v-15q-6.7,47.27-13.42,94.52l-3.8,26.73a55.17,55.17,0,0,0-.08,7.5c0,1.77,0,3.53,0,5.3a16.24,16.24,0,0,1,.05,2.2q6.72-47.26,13.43-94.53l3.79-26.72a53.61,53.61,0,0,0,.08-7.5c0-1.77,0-3.54,0-5.3a21.65,21.65,0,0,1-.06-2.2q-28.06,11.7-56.89,21.46-30.51,10.32-61.71,18.4-16.29,4.22-32.73,7.8c-.32.07-.08,6.89-.08,7.5,0,1.77,0,3.54,0,5.31,0,.22.07,2.19.05,2.19Z");}
    100% {-webkit-d: path("M606.89,95.36Q632,90.11,657.06,85t50.42-10q12.6-2.47,25.22-4.9l12.56-2.41,6.27-1.2,1.45-.27a4.63,4.63,0,0,1,1.44-.27c.42.1.17,0,.41.42a7,7,0,0,1,.33.94l.57,1.65,17,48.79q8.57,24.51,17.12,49L792,172.9a10.46,10.46,0,0,1,.06-2.2c0-1.77,0-3.54,0-5.3s0-3.54,0-5.31a8,8,0,0,0-.06-2.19q-8.55-24.53-17.12-49l-17-48.79L755.73,54l-.49-1.41c-.08-.22-.35-1.52-.58-1.65s-1.19.23-1.44.27l-1.69.32L739,53.88q-12.6,2.41-25.19,4.87-25.21,4.92-50.42,10T613.13,79.06l-6.24,1.3c-.31.06-.08,6.89-.07,7.5s.26,7.46.07,7.5Z");}
}

@keyframes pathTopSwap {
    0% {d: path("M595,97.51c18.39-6.11,36.8-12.18,55.47-17.4A413,413,0,0,1,707,68a268.5,268.5,0,0,1,28.74-2.36q7.23-.19,14.46,0c1.11,0,2.22.08,3.33.14a2.74,2.74,0,0,1,.95,0h.23c.06.24.11.48.16.72.14.65.29,1.29.43,1.94.54,2.49,1.09,5,1.62,7.49q6.33,29.35,12,58.87t10.57,59.14q.62,3.64,1.21,7.31a14.38,14.38,0,0,1,0-2.19c0-1.77,0-3.54,0-5.31s0-3.53,0-5.3a16.16,16.16,0,0,0,0-2.2q-4.86-29.64-10.4-59.17t-11.79-58.9q-1.57-7.38-3.18-14.74c-.13-.57-.25-1.13-.37-1.69a5.76,5.76,0,0,0-.22-1,4,4,0,0,0-.95,0c-1.26-.07-2.53-.12-3.8-.16q-3.55-.12-7.11-.13A256.59,256.59,0,0,0,714,52.14a381.75,381.75,0,0,0-56.64,11.07c-18.74,5-37.2,11-55.6,17.05L595,82.51a17.25,17.25,0,0,0-.05,2.2c0,1.76,0,3.53,0,5.3s0,3.54,0,5.3c0,.23.11,2.18.05,2.2Z")}
    50% {d: path("MM603.33,113.55q30-6.55,59.53-15.19,30.76-9,60.83-20.23,15.6-5.82,31-12.24v-15q-6.7,47.27-13.42,94.52l-3.8,26.73a55.17,55.17,0,0,0-.08,7.5c0,1.77,0,3.53,0,5.3a16.24,16.24,0,0,1,.05,2.2q6.72-47.26,13.43-94.53l3.79-26.72a53.61,53.61,0,0,0,.08-7.5c0-1.77,0-3.54,0-5.3a21.65,21.65,0,0,1-.06-2.2q-28.06,11.7-56.89,21.46-30.51,10.32-61.71,18.4-16.29,4.22-32.73,7.8c-.32.07-.08,6.89-.08,7.5,0,1.77,0,3.54,0,5.31,0,.22.07,2.19.05,2.19Z");}
    100% {d: path("M606.89,95.36Q632,90.11,657.06,85t50.42-10q12.6-2.47,25.22-4.9l12.56-2.41,6.27-1.2,1.45-.27a4.63,4.63,0,0,1,1.44-.27c.42.1.17,0,.41.42a7,7,0,0,1,.33.94l.57,1.65,17,48.79q8.57,24.51,17.12,49L792,172.9a10.46,10.46,0,0,1,.06-2.2c0-1.77,0-3.54,0-5.3s0-3.54,0-5.31a8,8,0,0,0-.06-2.19q-8.55-24.53-17.12-49l-17-48.79L755.73,54l-.49-1.41c-.08-.22-.35-1.52-.58-1.65s-1.19.23-1.44.27l-1.69.32L739,53.88q-12.6,2.41-25.19,4.87-25.21,4.92-50.42,10T613.13,79.06l-6.24,1.3c-.31.06-.08,6.89-.07,7.5s.26,7.46.07,7.5Z");}
}

.paragraph-container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    line-height: 2;

    font-weight: var(--f-semi-bold);

    height: auto;

    overflow: hidden;
}

@media screen and (min-width: 300px) {
    .about--intro-contianer {
        position: relative;
    }

    .about--intro {
        max-width: 70%;

        font-size: var(--f-s);
    }

    .about--title {
        padding: 0 20px 100px 20px;
    }

    .text--wrapper {
        width: 100%;
    }

    .about--media {
        bottom: 0;
        left: 0;

        width: 20%;
        height: 40%;

        transform: translate(48%, -45%) scale(1) skew(4deg, -22deg) rotate(0deg);
    }

    .animation, .gif {
        top: 0;
        right: 0;

        width: 80px;

        transform: translate(-40%, 70%) skew(20deg, 2deg);
    }

    .paragraph-container {
        max-width: 100%;
        height: auto;
        font-size: var(--f-xs);
        padding-bottom: 100px;
    }

    .paragraph-container p:nth-child(1) {
        padding-top: 20px;
    }

    .paragraph-container p + p {
        padding-top: 50px;
    }
}

@media screen and (min-width: 600px) {
    .about--intro {
        font-size: var(--f-m);
    }

    .about--media {
        height: 50%;
        transform: translate(40%, -35%) scale(1) rotate(0deg);
    }

    .animation, .gif {
        width: 120px;

        transform: translate(-40%, 70%);
    }

    .paragraph-container {
        max-width: 70%;
        font-size: var(--f-s);
    }
}

@media screen and (min-width: 1200px) {
    .about--intro-contianer {
        position: absolute;
    }

    .about--intro {
        max-width: 1000px;
        font-size: 100px;
    }

    .about--title {
        padding: 100px 20px 0 20px;
    }

    .about--title__line:nth-child(1):not(.show) {
        transform: translateY(100%);
    }

    .about--title__line:nth-child(3):not(.show) {
        transform: translateY(-100%);
    }

    .about--title__line.hide {
        transform: translateY(-100%);
    }

    .about--media {
        width: 15%;
        height: 40%;
        transform: translate(30%, -10%) scale(0) rotate(45deg);
    }

    .about--media.show--about--media {
        transform: translate(20%, 10%) scale(1) rotate(0deg)
    }

    .animation, .gif {
        width: 200px;

        transform: translate(-50%, 100%) scaleY(0);
    }

    .animation.show--animation {
        transform-origin: top;
        transform: translate(-50%, 100%) scaleY(1);
    }

    .paragraph-container {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 400px;

        font-size: var(--f-xl);
        line-height: 1.75;
        transform: translate(-50%, -50%);
    }

    .paragraph-container p + p {
        padding-top: 80px;
    }
}