.contact {
    height: 100vh;
    display: flex;
    align-items: center;
}

.catLicking {
    max-width: 550px;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    font-size: 35px;
    font-weight: var(--f-semi-bold);
    margin-bottom: 0.5em;
    width: 100%;
}

.contact--light {
    color: var(--dark);
}

.contact--light .contact__cta {
    color: var(--dark);
}

.contact__txt {
    font-size: var(--x-s);
    font-weight: var(--f-regular);
    width: 100%;
}

.contact__ctaDiv {
    margin: 3em 0;
    width: 100%;
}

.contact__cta {
    font-size: var(--x-s);
    font-weight: var(--f-semi-bold);
    border: 3px solid var(--cta);
    padding: 0.5em 1.5em;
    border-radius: 15px;
}

.contact--light .contact__cta {
    border: 3px solid #003770;
}

.contact--light .ctaBg {
    background-color: #003770;
}

.contact--light .cta__txt {
    color: #003770;
    transition: all .7s ease-in-out;
}

.contact__cta:hover .cta__txt {
    color: white;
}

.contact--light .blue {
    color: #003770;
}

@media screen and (max-height:600px) {
    .contact__title {
        font-size: var(--f-s);
    }

    .contact__txt {
        font-size: var(--x-s);
        font-weight: var(--f-regular);
    }

    .contact__cta {
        font-size: var(--x-s);
    }

    .contact__ctaDiv {
        margin: 2em 0;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    
    .contact__title {
        font-size: var(--f-m);
    }
    
    .contact__txt {
        font-size: var(--f-xs);
    }
    
    .contact__cta {
        font-size: var(--f-xs)
    }
}

@media screen and (min-width: 900px) {

    /* contact */

    .contact {
        height: 80vh;
    }
    
    .contact__title {
        font-size: var(--f-xl);
        line-height: 1.2;
    }
    
    .contact__txt {
        font-size: 21px;
    }
    
    .contact__cta {
        font-size: 21px;
    }

    .catLicking {
        width: 50%;
    }
    
    .contact__col {
        width: 50%;
    }

    .contact {
        align-items: center;
    }
    
    .contact__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
}

@media screen and (min-width: 1200px) {
    .contact {
        align-items: flex-start;
    }
}