.logo__container {
    padding-top: 50px;
}

.logo {
    height: 35px;
}

.header--light .logo {
    color: var(--dark)
}

@media screen and (min-width: 600px) {
    .logo {
        height: 50px;
    }

    .logo__container {
        padding-top: 60px;
    }
}

@media screen and (min-width: 900px) {
    .logo {
        height: 55px;
    }

    .logo__container {
        padding-top: 80px;
    }
}