.gsv::before {
    background-color: #003770;
}

.cursorPlay,
.cursorPause {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -50px;
    top: -50px;
    background: #023772;
    border-radius: 50%;
}

.cursorPlay > svg,
.cursorPause > svg { 
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:global(.cursor):global(.video-is-playing) .cursorPlay,
:global(.cursor):not(:global(.video-is-playing)) .cursorPause {
    display: none;
}