header {
    padding: 20px 0;
}

.header {
    align-items: center;
}

.logo h1{
    font-size: 28px;
    font-weight: var(--f-bold);
}

.line {
    width: 100%;
    background-color: var(--highlight);
    height: 3px;
}

.hamburger {
    height: 20px;
    position: relative;
}

.hamburger__line {
    display: block;
    width: 45px;
    height: 5px;
    background-color: white;
    border-radius: 100px;
}

.bottom-line {
    position: absolute;
    bottom: 0;
    background-color: var(--highlight);
}