.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 125px;
}

.sleeping-cat {
    max-width: 90%;
    max-height: 30%;
    margin: 5vh 0;
}

.hero__title {
    font-size: 32px;
    font-weight: var(--f-semi-bold);
    margin-bottom: 0.5em;
}

.investering {
    position: relative;
    z-index: 1;
}

.hero__txt {
    font-size: 18px;
    font-weight: var(--f-regular);
    margin-bottom: 3em;
}

.hero__cta {
    font-size: 18px;
    font-weight: var(--f-bold);
    border: 3px solid var(--cta);
    padding: 0.5em 1.5em;
    border-radius: 15px;
}

.cta__container {
    width: 100%;
}