:root {
    --dark: #14161C;
    --highlight: #FDB5F1;
    --cta: #ff9cee;
    --white: #FFFFFF;

    --f-regular: 400;
    --f-semi-bold: 600;
    --f-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: var(--highlight);
    color: var(--white);
  }

.container {
    width: 80%;
    max-width: 1400px;
}

.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

header, section {
    background-color: var(--dark);
    color: var(--white);

    /* horizontal center in container */

    display: flex;
    justify-content: center;
}

.pink {
    color: var(--highlight);
}

/* ----- cursor and hovers ----- */

.cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: var(--cta);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: width 0.1s, height 0.1s;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    --width: 100%;
	--time: 0.7s;

    color: white;
    text-decoration: none;

    position: relative;
	display: inline-block;
    overflow: hidden;
}

.cta text {
    z-index: 5;
    position: relative;
}

.cta__hover span{
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;

    border-radius: 100%;
    background: var(--cta);
    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
}

.cta:hover span {
    width: calc(var(--width) * 2.25);
    padding-top: calc(var(--width) * 2.25);
}

.caseStudy {
    display: none;
    text-align: center;
    color: white;
    font-weight: var(--f-semi-bold);
    font-size: 0px;
    line-height: 1.2;
}

.viewCase {
    height: 100px;
    width: 100px;
    transition: width 0.1s, height 0.1s;
}

.viewCase__visible {
    display: unset;
    font-size: 18px;
}

.bezoekWebsite {
    display: none;
    text-align: center;
    color: white;
    font-weight: var(--f-semi-bold);
    font-size: 0px;
    line-height: 1.2;
}

.bezoekWebsite__hover {
    height: 100px;
    width: 100px;
    transition: width 0.1s, height 0.1s;
}

.bezoekWebsite__visible {
    display: unset;
    font-size: 18px;
}

@media screen and (min-width: 1200px) {
    .cursor {
        opacity: 1;
    }

    .hide-cursor {
        opacity: 0;
    }
}