.section {
    width: 100%;
    height: 70vh;
    background-color: white;
    overflow: hidden;
}

.hero__container {
    position: relative;
    height: 100%;
}

.subtxt {
    color: #878787;
    font-size: var(--f-xs);
    font-weight: var(--f-regular);
}

.title {
    font-weight: var(--f-bold);
    color: #14161C;
    font-size: 35px;
    line-height: 1.2;
    margin-top: 0.2em;
}

.txt {
    margin-top: 25%;
    white-space: pre-wrap;
}

.catDiv {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    transform: translateX(35px);
}

.cat {
    height: 350px;
}

@media screen and (max-height: 600px) {
    
    .title {
        font-weight: var(--f-bold);
        color: #14161C;
        font-size: var(--f-s);
    }

    .catDiv {
        transform: translateX(50px);
    }

    .cat {
        height: 250px;
    }
}

@media (max-height: 700px) and (min-height: 600px) {
    
    .title {
        font-size: var(--f-s);
    }
    
    .catDiv {
        transform: translateX(40px);
    }

    .cat {
        height: 300px;
    }
}

@media screen and (min-width: 600px) {

    .hero__container {
        display: flex;
    }

    .txt {
        margin-top: 20%;
    }


    .title {
        font-size: 50px;
    }

    .catDiv {
        transform: translateX(30px);
    }

    .cat {
        height: 400px;
    }
}

@media screen and (min-width: 900px) {
    .section {
        height: 75vh;
    }

    .txt {
        margin-top: 20%;
    }

    .title {
        font-size: var(--f-xl);
    }

    .catDiv {
        transform: translateX(20px);
    }

    .cat {
        height: 600px;
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .txt {
        margin-top: 10%;
    }
}