.section {
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding-bottom: 20vh;
    position: relative;
}

.hero__container {
    position: relative;
    height: 100%;
}

.hero__content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.hero__content-intro {
    margin-top: 7vh;
    color: var(--dark);
}

.subtxt {
    color: #878787;
    font-size: var(--f-xs);
    font-weight: var(--f-regular);
}

.title {
    font-weight: var(--f-bold);
    color: #14161C;
    font-size: 35px;
    line-height: 1.2;
    margin-top: 0.2em;
}

.txt {
    margin-top: 25%;
    white-space: pre-wrap;
}

.hero__content-intro > h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero__content-intro > p {
    color: #676767;
    line-height: 1.7;
}

.hero__content-intro > p + p {
    margin-top: 20px;
}

.catDiv {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    transform: translateX(35px);
    right: 10%;
}

.cat {
    height: 140px;
}

@media screen and (max-height: 600px) {
    
    .title {
        font-weight: var(--f-bold);
        color: #14161C;
        font-size: var(--f-s);
    }

    .catDiv {
        transform: translateX(50px);
    }
}

@media (max-height: 700px) and (min-height: 600px) {
    
    .title {
        font-size: var(--f-s);
    }
    
    .catDiv {
        transform: translateX(40px);
    }

}

@media screen and (min-width: 600px) {

    .hero__container {
        padding-bottom: 15vh;
        padding-top: 10vh;
    }

    .txt {
        margin-top: 20%;
    }


    .title {
        font-size: 50px;
    }

    .catDiv {
        transform: translateX(30px);
    }

    .cat {
        height: 300px;
    }
}

@media screen and (min-width: 900px) {

    .section {
        padding-bottom: 0;
    }

    .hero__content-container {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding-right: 22%;
    }
    
    .hero__content-intro {
        margin-top: 25vh;
    }

    .txt {
        margin-top: 20%;
    }

    .title {
        font-size: var(--f-xl);
    }

    .catDiv {
        transform: translateX(20px);
        right: 0;
    }

    .cat {
        height: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .txt {
        margin-top: 10%;
    }

    .catDiv {
        right: 19%;
    }
}